@import '../../../scss/_variables.scss';
@import '../../../scss/_mixins.scss';

.flex {
    @include flexPrincipal(center);
    flex-direction: column;
}

h4 {
    font-weight: 500;
    font-size: 35px;
    
    letter-spacing: 1px;
    
    margin-top: 25px;

    color: $colorblackDefault;
}

P {
    font-weight: 400;
    font-size: 18px;
    
    letter-spacing: 1px;
    
    margin-top: 15px;

    color: $colorblackDefault;
}

img {
    width: 500px;
    height: 300px;
}

