@import '../../../scss/_variables.scss';
@import '../../../scss/_mixins.scss';

.mg-top {
    margin-top: $marginTop80;
}

.title-default {
    text-align: center;
    text-decoration: underline;
    
    margin-bottom: 35px;

    font-size: 30px;
    color: $colorPinkDefault;
}

.flex {
    @include flexPrincipal(space-evenly);
}